*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
a{
  text-decoration: none;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  padding: 10px 0;
}
.data__title {
  justify-self: center;
  padding: 15px;
}
.data__years {
  display: flex;
  flex-direction: column;
  text-align: center;
 
}
.data__year {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.year__title{
  padding: 10px;
}
.year__months {
  display: flex;
  justify-content: space-around;
 flex-wrap: wrap;
}
.year__month {
  max-width: 30%;

}

.month__days{
  width: 100%;
  display: grid;
 grid-template-columns: repeat(7,60px);
 gap: 10px;
 padding: 20px;
}
.month__title {
  border: 1px solid #000;
  border-style: solid none none none;
  padding: 5px;
}
.month__day {
  font-size: 20px;
  text-align: center;
  position: relative;
  border: 1px solid #000;
  padding: 40px 15px 10px;

}
.month__date {
 
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #000;
  border-radius: 50%;
  padding: 5px;
  background-color: #5b5959;
  color: white;
}
.month__result {
  grid-column: span 2;
 
  padding: 20px 7px 7px;
  border: 1px solid #000;
}
.month__average{
  padding: 5px;
}

.data__back{
  max-width: 140px;
  padding: 10px 20px;
  background-color: rgb(186, 189, 188);
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  align-self: center;
  color:#000;
  font-size: 20px;
  transition: 1s;
  cursor: pointer;
}

.data__back:hover {
  background-color: rgb(153, 233, 210);
  color: black;
  transition: 1s;
}


@media (max-width:1760px) {
  .year__month {
    max-width: 50%;
  }
}
@media (max-width:1050px) {
  .year__month {
    max-width: 100%;
  }
}

@media (max-width:570px) {
  .month__days{
 
    grid-template-columns: repeat(7,45px);
  }
  .month__day {
    padding: 40px 10px 10px;
  }
}
@media (max-width:425px) {
  .month__days{
     grid-template-columns: repeat(7,35px);
  }
  .month__day {
    padding: 40px 7px 10px;
  }
}